@using Ictshop.Models;
@model List<Hangsanxuat>


<br />

<div class="bg-success">

    <h3> DANH MỤC  </h3>

    <div class="center-block">
			
				<button class="success"> <a href="/Sanpham/dtiphonePartial"> Túi xách </a></button>
				<button class="success"> <a href="/Sanpham/dtsamsungPartial"> Balo </a></button>
				<button class="success"> <a href="/Sanpham/dtxiaomiPartial"> Quần áo </a></button>	
		
    </div>
</div>